.navbar{
  background-color: #09ee7a !important;
}

.navbar-brand{
  color:  !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(1rem + 72px);
  padding-bottom: 3rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, #0097ff 0%, #09ee7a 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}


.subhead{
  font-size: 1.3rem;
  margin-top: 20px;
}

.title{
    font-size: 1.33rem;
    line-height: 3rem;
    font-weight: 600;
}

.jumbotron{
  background-color: white;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 3rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.impact{
  margin-bottom: 0px !important;
}

.impact2{
  margin-bottom: 20px;
}

.btn-cta {
  background-color: #0097ff;
  border-color: #0097ff;
}

.footer{
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #f9f9f9;
}






