body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar{
  background-color: #09ee7a !important;
}

.navbar-brand{
  color:  !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(1rem + 72px);
  padding-bottom: 3rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, #0097ff 0%, #09ee7a 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}


.subhead{
  font-size:28px;
  margin-top: 20px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: .004em;
}

.textbox1{
  padding-left: 30px;
  padding-right: 30px;
}

.title{
    font-size: 28px;

    color: #111;
    font-weight: 700;
}

.jumbotron{
  background-color: white;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 70px;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.impact{
  margin-bottom: 0px !important;
  color: #888 !important;
  font-weight: 500 !important;
  margin-bottom: 4px !important;
}

.impact-bold{
  color:#333;
}

.lead{
  line-height: 1.42115;
  color:#888;
  font-weight: 500;
}

.impact2{
  margin-bottom: 20px;
  color: #888 !important;
  font-weight: 500 !important;
}

.btn-cta {
  background-color: #0097ff;
  border-color: #0097ff;
}

.footer{
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-top: 30px;
  background-color: #f9f9f9;
}

.card{
  border: none;
  border-radius: 1rem;
}

.card p{
  line-height: 1.33349;
  font-weight: 500;
  color: #333333;
}

.btn{
  border-radius: 2rem;
}

.card-img-top{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


